

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.red {
    font-size: 4rem;
}
.red::before {
    z-index: -999;
    content: '';
    bottom: 6px;
    position: absolute;
    background-color: yellow;
    height: 22px;
    width: 422px;
    opacity: 0.2;
    
}



.after::before {
    z-index: -999;

    content: '';
    left: -3px;
    top: -3px;
  
    position: absolute;
   border: 1px solid #4B0082;
    padding: 6px;
    border-radius: 100%;
}



.rone::before {
    z-index: -999;
    content: '';
    left: -3px;
    top: -3px;
    position: absolute;
    border: 1px solid #4B0082;
    padding: 6px;
    border-radius: 100%;  
}


.trans, .btn {
    transition: background-color .4s ease-in-out, color .4s ease-in-out, color .4s ease-in-out;
}

.trans:hover {
   background-color: #fff;
   color: #000;
   border: 1px solid ;
}

.btn:hover {
    background-color: #ffffff;
    color: #000;
    border: 1px solid ;
 }

 .icone {
    transition: background-color .4s ease-in-out, color .4s ease-in-out, border-radius .4s ease-in-out;

 }

 .icone:hover {
    background-color: #e9ae0b;
    padding: 6px;
    border-radius: 100%;
    
 }



